*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

body {
  padding: 0;
  margin: 0;
  font: 1em sans-serif;
  transition: all 0.5s ease-in-out;
  background: #d9a7c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fffcdc,
    #d9a7c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fffcdc,
    #d9a7c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  height: 60px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.container .logo {
  padding: 0 10px;
  overflow: hidden;
  width: auto;
  background-image: radial-gradient(circle, #ff8d8d, #fe8798, #fc82a3, #f67fb0, #ed7ebd);
}
.container .logo h1 {
  padding-bottom: 5px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000;
  border-top: 4px solid #000;
}

.container .logo a:hover h1 {
  border-top: 4px solid #fff;
}


.container .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}


.container .logo a img {
  max-width: 100%;
  max-height: 60px;
}

.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
  z-index: 1;
}

.container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .navbar ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}

.container .navbar ul li a:hover {
  color: #ffffff;
  background-color: rgba(23, 23, 23, 0.9);
  border-bottom: 2px solid #c475a7;
}

.container .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;

}

.container .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.container .navbar .icon-bar i {
  background-color: #ffffff;
  height: 2px;
}

.show {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: calc(100vh - 77px);
}

.intro h1 {
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.intro p {
  font-stretch: extra-expanded;
  width: 50%;
  margin: 10px 0 50px 0;
}

.joinbtn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  font-size: 13px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.joinbtn:hover {
  border-radius: 20px;
    background-image: radial-gradient(circle, #ff8d8d, #fe8798, #fc82a3, #f67fb0, #ed7ebd);
}

.model_face {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

a {
  text-decoration: none;
}

div.gallery {
  border: 1px solid rgb(231, 162, 194);
  border-radius: 10px;
}

div.gallery:hover {
  border: 1px solid rgba(199, 64, 143, 0.719);
}

div.gallery img {
  width: 100%;
  height: 350px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.responsive {
  padding: 6px;
  float: left;
  width: calc(99.9% / 3);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.contain {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width: 400px;
    margin-top: 100px;
    margin-left: 17%;
}
h2 {
    text-align: center;
    margin: 0 0 20px;
}
.form {
    padding: 30px 40px;
    position: relative;
}
.form-control {
    padding-bottom: 10px;
    position: relative;
}
.contain .label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}
.input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

input:focus {
    outline: 0;
    border-color: #777;
}
.form-control small {
    font-size: 12px;
    background: #fff;
    color: var(--error-color);
    position: absolute;
    left: 10px;
    bottom: 5px;
    visibility: hidden;
}
button , .mailto{
    cursor: pointer;
    background: #d9a7c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #fffcdc,
      #d9a7c7
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #fffcdc,  
      #d9a7c7
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 2px solid #e296c6;
    border-radius: 4px;
    color: #000;
    display: block;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    transition: all 0.5s ;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);

}

button:hover , .mailto:hover{
border: 2px solid #f089e2;
background: linear-gradient(to right,#e296c6 , #F4E2D8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.form:before,.form:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
    background: #e296c6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F4E2D8, #e296c6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F4E2D8, #e296c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100%;
    z-index: -1;
    transform: skew(5deg, 5deg);
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.3));
}
.form:after {
    transform: skew(-5deg, -5deg);
}
.form-control.error small {
    visibility: visible;
}
.form-control.error input {
  border-color: var(--error-color);
}
.form-control.success input {
  border-color: var(--success-color);
}


.rad input {
    margin: 5px;
    left: 0;
}




.column {
  float: left;
  width: 33%;
  margin-bottom: 16px;
  padding: 0 8px;
  height: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  border-radius: 10px;
  overflow: hidden;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.about-container {
  padding: 0 16px;
}

.about-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.mailto {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #000;
  background: #d9a7c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f3efc9,
      #da8ebe
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f3efc9,  
      #da8ebe
    );
  text-align: center;
  cursor: pointer;
  width: 100%;
}

footer{
  text-align: center ;
  bottom: 0;
}
.fa {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-github {
  background: #000;
  color: white;
}







table {
  width: 100%;
  max-width: 50rem;
  margin-top: 50px;
  margin-bottom: 20px;
}
  tr:nth-child(even) th {
    color: rgb(173, 173, 173);
    font-weight: normal;
  }
  
  th,
  td {
    padding: 0.5rem 1rem;
  }
  
  th {
    font-weight: normal;
    border-top: thin dotted #ccc;
  }
  
  td {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.4;
    border-radius: 0.2rem;
    transition: opacity 0.3s ease;
  }
  
  td > span {
    font-size: 0.8em;
    font-weight: normal;
    display: block;
    width: 100%;
  }

  tr:nth-child(odd):hover{
    background: #dd8792;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-color:4px solid #333333;
}

.colored{
background: #ee9ca7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}






/*-----------------responsive-----------*/
@media only screen and (max-width: 650px) {
  body {
    overflow-x: hidden;
    padding: 0;
    background: #d9a7c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #fffcdc,
      #d9a7c7
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #fffcdc,
      #d9a7c7
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  body.active {
    transform: translateX(-150px);
  }
  .show {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .intro {
    height: 100%;
    position: relative;
  }
  .intro h1 {
    font-size: 35px;
    margin-left: 10px; 
   }
  .intro p {
    margin: 30px 0 40px 0;
     padding: 10px; 
  }
.joinbtn{
  position: absolute;
    bottom: -15px;
    left: 5px;
}

  .model_face {
    margin-top: 30px;
  }

  .container .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .container .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .container .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #d9a7c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #d9a7c7,
      #fffcdc
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #d9a7c7,
      #fffcdc
    );
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }

  .container .navbar ul li a {
    padding: 20px;
    font-size: 25px;
    height: auto;
    line-height: normal;
    color: #555555;
  }

  .container .navbar ul .close {
    display: block;
  }

  .container .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container .navbar ._Menus-show {
    left: 0;
  }
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

.contain{
  width: 75%;
margin-left: 12.5%;

}

  .column {
    width: 100%;
    display: block;
  }
  .team{
    width: 70%;
    margin-left: 15%;
  }

.fa{
  padding: 15px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

}

.body {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}



@media only screen and (max-width: 450px) {
  .responsive {
    width: 100%;
  }
  .team{
    width: 100%;
    margin-left:0;
  }
  footer{
  margin-top: 150px;
}
}
@media only screen and (max-width: 649px) {
  footer{
  margin-top: 100px;
}

}
@media only screen and (max-width: 400px) {
  footer{
  margin-top: 180px;
}

}
@media only screen and (max-width: 325px) {
  footer{
  margin-top: 300px;
}
}
@media only screen and (max-width: 285px) {
footer{
  margin-top: 200px;
}
}



